<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tela de Menu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBG">
        <activity
            android:name=".controlador.SplashActivity"
            android:label="Tela Splash">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ConsultarActivity" android:label="Tela Consultar" />
        <activity android:name=".CadastroActivity" android:label="Tela Cadastrar" />
        <activity android:name=".controlador.LoginActivity" android:label="Tela Login"/>
        <activity android:name=".controlador.MenuActivity">

        </activity>
    </application>

</manifest>